.footer {
  display: flex;
  align-content: center;

  @media only screen
    and (min-width : 320px) {
      align-items: center;
      height: 100px;
      margin: 1.875em auto; // 30px
      justify-content: center;
      flex-direction: column;
  }

  @media only screen
    and (min-width : 768px) {
    height: 100px;
    margin: 0 100px;
    justify-content: space-between;
    flex-direction: row;
  }

  @media only screen
    and (min-width : 1600px) {
    margin: 0 220px;
  }

  @media only screen
    and (min-width : 2304px) {
    margin: 0 670px;
  }
}

.logo-lotus {
  width: 50px;
  height: auto;
}

.copyright {
  align-items: center;
  color: $body-disabled;
  display: flex;
  font-size: 0.722em;
  text-align: center;

  @media only screen
    and (min-width : 320px) {
    visibility: hidden;
  }

  @media only screen
    and (min-width : 768px) {
    justify-content: flex-end;
    padding: 0;
    visibility: visible;
  }

  @media only screen
    and (min-width : 2304px) {
    font-size: 1em;
  }
}

.fa {

  @media only screen
    and (min-width : 320px) {
    padding: 0 0.750em; // 12px
  }

  @media only screen
    and (min-width : 768px) {
    padding: 0 0.313em; // 5px
  }
}

.fa-heart {
  padding: 0 5px;
}

.social {
  color: $cta;

  @media only screen
    and (min-width : 320px) {
    padding-top: 0.556em; // 10px
  }

  @media only screen
    and (min-width : 768px) {
    padding-top: 0;
  }
}

.fa-instagram:hover {
  color: $instagram;
}

.fa-facebook:hover {
  color: $instagram;
}

.fa-twitter:hover {
  color: $twitter;
}

.fa-snapchat-ghost:hover {
  color: $snapchat;
}
