.footer {
  display: flex;
  align-content: center;
  align-items: center;

  @media only screen
    and (min-width : 320px) {
      align-items: center;
      height: 100px;
      margin: 1.875em auto; // 30px
      justify-content: center;
      flex-direction: column;
  }

  @media only screen
    and (min-width : 768px) {
    height: 100px;
    margin: 0 100px;
    justify-content: space-between;
    flex-direction: row;
  }

  @media only screen
    and (min-width : 1600px) {
    margin: 0 220px;
  }

  @media only screen
    and (min-width : 2304px) {
    margin: 0 670px;
  }
}

.logo-lotus {
  width: 50px;
  height: auto;
  margin-right: 0;

  @media only screen
    and (min-width : 1024px) {
    margin-right: 100px;
  }
}

.copyright {
  align-items: center;
  color: $body-disabled;
  display: flex;
  font-size: 0.722em;
  text-align: center;

  @media only screen
    and (min-width : 320px) {
    visibility: hidden;
  }

  @media only screen
    and (min-width : 768px) {
    justify-content: flex-end;
    padding: 0;
    visibility: visible;
  }

  @media only screen
    and (min-width : 2304px) {
    font-size: 1em;
  }
}

.fa {
  color: $cta;

  @media only screen
    and (min-width : 320px) {
    padding: 0 0.750em; // 12px
  }

  @media only screen
    and (min-width : 768px) {
    padding: 0 0.313em; // 5px
  }
}

.fa-heart {
  padding: 0 5px;
}

.social {

  @media only screen
    and (min-width : 320px) {
    padding-top: 0.556em; // 10px
  }

  @media only screen
    and (min-width : 768px) {
    padding-top: 0;
  }
}

/* Icon Up */
@-webkit-keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    transform: translateY(0);
  }
  25%,
	75% {
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-up {
  0%,
	50%,
	100% {
    transform: translateY(0);
  }
  25%,
	75% {
    transform: translateY(-6px);
  }
}
/* Icon Up */
.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding: 0 1em; // 21px
}
.hvr-icon-up:before {
  position: absolute;
  top: -10px;
  left: 1px;
  padding: 0 12px;
  transform: translateZ(0);
}
.hvr-icon-up:hover:before, .hvr-icon-up:focus:before, .hvr-icon-up:active:before {
  animation-name: hvr-icon-up;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
}
