.main-description { //spacing layout
  width: 100%;
  background: #4CA1AF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//  background-image: url("/assets/img/geometry_@2X.png");

  h1 {
    color: #fff;
  }

  @media only screen
    and (min-width : 320px) {
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.5em; // h1 22px
  }

  @media only screen
    and (min-width : 768px) {
    padding: 2% 13% 0;
    font-size: 0.8em; // h1 36px
  }

  @media only screen
    and (min-width : 1024px) {
    padding: 2% 12% 0;
  }

  @media only screen
    and (min-width : 1200px) {
    padding: 2% 15% 1%;
    font-size: 1em; // h1 45px
  }

  @media only screen
    and (min-width : 1600px) {
    padding: 3% 20% 2%;
  }

  @media only screen
    and (min-width : 2304px) {
    padding: 1% 25% 2%;
  }
}

.main-share {
  a {
    color: $accent2;
  }
  a:hover {
    color: $hover-dark;
  }

  @media only screen
    and (min-width : 320px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
  }

  @media only screen
    and (min-width : 768px) {
    padding: 60px 0;
  }
}

.follow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media only screen
    and (min-width : 320px) {
    margin: 0 20px 0 0;
  }

  @media only screen
    and (min-width : 768px) {
    margin: 0 40px 0 0;
  }
}

.pray-emoji {
  width: 2em;
  height: auto;
  margin: 0 20px 0 0;
}

.header-social {
  @media only screen
    and (min-width : 320px) {
    height: 46px;
    display: flex;
    align-items: center;
  }

  @media only screen
    and (min-width : 768px) {
    padding-bottom: 8px;
  }

  @media only screen
    and (min-width : 1200px) {
    padding-bottom: 15px;
  }
}
