 header {
  align-items: center;
  box-shadow: 0 1px 5px 0 $shadow-bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen
    and (min-width : 320px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media only screen
    and (min-width : 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

#gradient {
  width: 100%;
  padding: 4% 0 0;
  position: relative;
  background: linear-gradient(270deg, #003366, #b27000, #06617d, #067370);
  background-size: 800% 800%;
  -webkit-animation: colors 30s ease infinite;
  -moz-animation: colors 30s ease infinite;
  animation: colors 30s ease infinite;
}

@-webkit-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes colors {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.logo {
  display: flex;
  margin-right: auto;

  @media only screen
    and (min-width : 320px) {
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
  }

  @media only screen
    and (min-width : 768px) {
    display: flex;
    width: 15%;
  }
}

.main-description { //spacing layout

  @media only screen
    and (min-width : 320px) {
    padding: 4% 8%;
  }

  @media only screen
    and (min-width : 768px) {
    padding: 3% 30%;
  }
}
