.main-share {
  a {
    color: $accent2;
  }
  a:hover {
    color: $hover-dark;
  }

  @media only screen
    and (min-width : 320px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
  }

  @media only screen
    and (min-width : 768px) {
    padding: 60px 0;
  }
}

.follow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media only screen
    and (min-width : 320px) {
    margin: 0 20px 0 0;
  }

  @media only screen
    and (min-width : 768px) {
    margin: 0 40px 0 0;
  }
}

.pray-emoji {
  width: 2em;
  height: auto;
  margin: 0 20px 0 0;
}

.header-social {
  @media only screen
    and (min-width : 320px) {
    height: 46px;
    display: flex;
    align-items: center;
  }

  @media only screen
    and (min-width : 768px) {
    padding-bottom: 8px;
  }

  @media only screen
    and (min-width : 1200px) {
    padding-bottom: 15px;
  }
}
