.section-cards {
  background-color: $bg-grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media only screen
    and (min-width : 320px) {
    margin: 0;
    width: auto;
  }

  @media only screen
    and (min-width : 768px) {
  }
}

.social-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.fb-like {
  transform: scale(1.2);
}

* { box-sizing: border-box; }

/* ---- button ---- */

.button {
  display: inline-block;
  padding-left: 2em;
  margin: 0;
  background: none;
  border: none;
  outline: none;
  color: $btn-filter;
  font-family: Open sans, sans-serif;
  font-size: 0.889em; // 16px
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: none;
  color: pink;
}

.button:active,
.button.is-checked {
  color: pink;
  background-color: transparent;
}

.button.is-checked {
  color: pink;
}

.button:active {
  color: pink;
}

/* ---- button-group ---- */

.button-group {
  background-color: $filter-bar;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.hide {
  @media only screen
    and (min-width : 320px) {
    display: none;
  }

  @media only screen
    and (min-width : 768px) {
    display: block;;
  }
}

.filter-label {
  color: $btn-filter;
  font-size: 0.722em; // 13px
  padding: 0;

  @media only screen
    and (min-width : 768px) {
    padding-right: 1em;
  }
}

/* ---- isotope ---- */

.grid {
  background: grey;
  margin: 0 auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  float: left;
  padding: 10px;
  color: #262524;

  @media only screen
    and (min-width : 320px) {
    margin: 0;
    width: 100%;
    height: 300px;
  }

  @media only screen
    and (min-width : 768px) {
    margin: 0 0 40px 20px;
    width: 440px;
    height: 500px;
  }
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item.static  { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.animated   { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.download   { background: #FF0; background: hsl(  72, 100%, 50%); }

#lotus {
  background: white url('../../assets/img/static-lotus.svg') no-repeat center 100%;
  background-size: cover;
}
