.section-footer {
  background-color: $bg-color;
  padding: 8em 0 4em;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-contact {
  font-weight: $h1-secondary;
}

.btn-contact {
  color: $body-text;
  margin-bottom: 8em; // 144px
  margin-top: 1.6666666666666667em; // 30px
}

.btn-contact:hover {
  opacity: .5;
}
