.section-instagram {
  background-color: $bg-grid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @media only screen
    and (min-width : 320px) {
    margin: 0;
    width: auto;
  }

  @media only screen
    and (min-width : 768px) {
  }
}

.social-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.fb-like {
  transform: scale(1.2);
}

* { box-sizing: border-box; }

// Instafeed

.wrap {

  @media only screen
    and (min-width : 768px) {
    max-width:1280px;
    margin:20px auto;
  }
}

#instafeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

img {

  @media only screen
    and (min-width : 320px) {
    display:block;
    width: auto;
    height: 300px;
    margin: 10px;
  }

  @media only screen
    and (min-width : 768px) {
    display:block;
    width: 400px;
    height: 400px;
    margin: 10px;
  }
}
