  #nav-container > nav > ul {
    list-style-type: none;
  }

  /* NAVIGATION */
  #nav-background {
    display: flex;
    top: 0;
    z-index: 9000;
    width: 100%;
    background-color: white;
  }

  #nav-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
  }

  #nav-header {
    display: flex;
    align-items: center;

    @media only screen
      and (min-width : 320px) {
      margin: 1% 5%;
      justify-content: space-between;
    }

    @media only screen
      and (min-width : 768px) {
      justify-content: center;
      margin: 5%;
    }
  }

.nav-ul {
  display: flex;
  max-width: 700px;
}

.nav-ul > li {
  display: flex;
}

.nav-link {
  flex: 1;
  color: $accent;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.722em; // 13px
  text-align: center;
  text-transform: uppercase;
  transition: 200ms;
}



/* LOGO */
@media screen and (min-width: 320px) {
  #nav-logo {
    width: 60px;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    #nav-logo {
      width: 100px;
      height: auto;
    }
  }
}
/* END NAVIGATION */


/* MOBILE MENU */
@media screen and (max-width: 767px) {

  #nav-container {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  #nav-menu-button {
    padding: 1rem;
    cursor: pointer;
  }

  .nav-ul {
    flex-direction: column;
    overflow-y: scroll;
    direction: rtl;
    max-height: 80vh;
  }

  .hide-ul {
    max-height: 0vh;
  }

  .nav-link {
    padding: 1rem 0;
    font-size: 0.722em; // 13px
  }
}
/* END MOBILE MENU */

/* DESKTOP MENU */
@media screen and (min-width: 768px) {

  #nav-menu-button {
    display: none;
  }

  .nav-link {
    padding: 1rem 1.5rem;
  }
}

/* END DESKTOP MENU */
