---
layout: default
title: The Lotus Vibes
---


{% include nav.html %}
{% include header.html %}
{% include home-instagram.html %}
{% include footer.html %}

<script type="application/ld+json">
{ "@context": "http://schema.org",
 "@type": "Blog",
 "keywords": "Buddhism design art mindfulness spiritual happiness Buddhist",
 "url": "http://thelotusvibes.com",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "http://thelotusvibes.com"
    "keywords": "Buddhism design art mindfulness spiritual happiness Buddhist"
  },
 "author": {
    "@type": "Person",
    "name": "Ada Chiu",
    "sameAs": [
        "https://twitter.com/thelotusvibes",
        "https://www.instagram.com/thelotusvibes",
        "https://www.facebook.com/thelotusvibes"
    ]
  }
 }
</script>
