// Typography

h1 {
  color: $body-primary;
  font-size: 2.5em; // 45px
  font-weight: 700;
  margin: 0;
  padding: 25px 0 0;
  text-decoration: none;
}

h2 {
  color: $body-primary;
  font-size: 2em; // 36px
  font-weight: 300;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
}

h3 {
  color: $body-primary;
  font-size: 1.667em; // 30px
  font-weight: 700;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 0 10px;
  text-decoration: none;
  text-transform: none;
}

a,
p {
  font-size: $base-font-size;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: $accent;
}

a:hover {
  color: $hover-light;
}


ul, li {
  text-decoration: none;
  list-style-type:none;
  padding:0px;
  margin:0px;
}

li {
  float: left;
}

// Basic Styles

html,
body {
  background: white;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
}

body {
  color: $body-primary;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; // $base-font-size
  line-height: 1.6;
  min-width: 100vw;
  text-decoration: none;
  width: 100%;
}

// Layout

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-header-dark {
  width: 100%;

  a {
    color: $hover-dark;
    font-weight: 400;
  }

  h1 {
    color: $hover-dark;
  }

  @media only screen
    and (min-width : 320px) {
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.5em; // h1 22px
  }

  @media only screen
    and (min-width : 768px) {
    padding: 2% 13% 0;
    font-size: 0.8em; // h1 36px
  }

  @media only screen
    and (min-width : 1024px) {
    padding: 2% 12% 0;
  }

  @media only screen
    and (min-width : 1200px) {
    padding: 2% 15% 1%;
    font-size: 1em; // h1 45px
  }

  @media only screen
    and (min-width : 1600px) {
    padding: 3% 20% 2%;
  }

  @media only screen
    and (min-width : 2304px) {
    padding: 1% 25% 2%;
  }
}


// Specific Typography

.light-display-accent2 {
  color: $accent2;
  font-weight: 300;
  text-align: center;

  @media only screen
    and (min-width : 320px) {
    font-size: 1em;
  }

  @media only screen
    and (min-width : 768px) {
    font-size: 2em; // 36px
  }

  @media only screen
    and (min-width : 2304px) {
    font-size: 2.222em; // 40px
  }
}

.dark-headline2 {
  color: $dark-headline2;

  @media only screen
    and (min-width : 320px) {
    font-size: 1em;
    padding: 8px 0 0;
  }

  @media only screen
    and (min-width : 768px) {
    font-size: 1.333em; // 24px
    padding: 15px 0 0;
  }

  @media only screen
    and (min-width : 2304px) {
    font-size: 2.222em; // 40px
    padding: 15px 0 0;
  }
}

// Backgrounds

.gradient-aqua {
  background: #4CA1AF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.geometric-bg {
//  background-color: $accent2;
  background-image: url("../../assets/img/geometry_@2X.png");
  background-repeat: repeat;
  background-blend-mode: multiply;
}
