// Logo
$logo-color: #000;

// Shadows and Dividers
$shadow-bottom: rgba(0, 0, 0, .30);

// Background Gradients


// Icons
$social-color: #757b81;
$email-color: #000;
$twitter-color: #55acee;
$dribbble-color: #ea4c89;
$instagram-color: #1b5988;
$snapchat-color: #fffc00;
$linkedin-color: #0077b5;

// Typography
$base-font-size: 1em;
$header-text: #757b81;
$header-hover: #d3d3d3;
$body-text: #5b5b5b;
$light-text: #fff;
$h1-secondary: 100;

// Body
$bg-color: #fff;
$bg-light: #f8f8f8;

// Buttons
$btn-light: #fff;
$btn-dark: #5b5b5b;
$contact-color: #ea4c89;
$neutral-color: #e5e5e5;
$accent-color: #2b61d6;
