/* Color palette */
$accent2: #13778A;
$accent: #d4a26a;
$hover-dark: #FFEABC;
$hover-light: #13778A;
$active: #fba7ab;
$filter-bar: #022636;

// Shadows and Dividers
$shadow-bottom: rgba(0, 0, 0, .30);

// Typography
$base-font-size: 1em;
$header-text: #757b81;
$header-hover: #d3d3d3;
$body-primary: #5b5b5b;
$body-disabled: #d3d3d3;
$dark-headline2: #fff;
$accent-headline2: #a7383d;

// Body
$bg-color: #fff;
$bg-light: #f8f8f8;
$bg-grid: #f7f2ec;

// Buttons
$btn-light: #fff;
$btn-dark: #5b5b5b;
$contact-color: #ea4c89;
$neutral-color: #cecece;
$btn-filter: rgba(255, 255, 255, 0.7);
$accent-hover: rgba(212, 162, 106, 0.5);
$accent2-hover: #FFEABC;

// Social Icon
$instagram: #4c68d7;
$facebook: #3b5998;
$twitter: #00aced;
$snapchat: #fffc00;

// BG colors
$section-light: #fff;
