<div class="footer">
  <div class="copyright">
    <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by Ada Chiu &copy; 2017</p>
  </div>
  <div class="social">
    <a href='https://www.instagram.com/thelotusvibes' target="_blank" class="fa fa-instagram fa-lg hvr-icon-up" aria-hidden="true">
    </a>
    <a href='https://www.facebook.com/thelotusvibes' target="_blank" class="fa fa-facebook fa-lg hvr-icon-up" aria-hidden="true">
    </a>
    <a href='https://www.twitter.com/thelotusvibes' target="_blank" class="fa fa-twitter fa-lg hvr-icon-up" aria-hidden="true">
    </a>
    <a href='https://www.snapchat.com/add/ada.chiu' target="_blank" class="fa fa-snapchat-ghost fa-lg hvr-icon-up" aria-hidden="true">
    </a>
  </div>
</div>
