<section class="section-instagram">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div>
    <h2 class="light-display-accent">Follow @thelotusvibes for updates!</h2>
      <div class="social-row">
        <div class="fb-like" data-href="https://facebook.com/thelotusvibes" data-width="200px" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
      </div>
  </div>

<div class="wrap">
<div id="instafeed"></div>
</div>

<script type="text/javascript" src="https://cdn.rawgit.com/stevenschobert/instafeed.js/master/instafeed.js"></script>
<script src="{{ site.baseurl }}/assets/js/main-min.js"></script>

</section>
