<nav id="nav-background">
  <div id="nav-container">
    <div id="nav-header">
      <a href="{{ site.baseurl }}/"><img id="nav-logo" src='{{ site.baseurl }}/assets/img/thelotusvibes-logo.svg' alt="The Lotus Vibes Logo"></a>
      <div id="nav-menu-button" class="fa fa-bars" aria-hidden="true"></div>
    </div>
    <nav>
      <ul class="nav-ul hide-ul">
        <li><a class="nav-link" href="{{ site.baseurl }}/about">About</a></li>
        <li><a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a></li>
        <li><a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a></li>
        <li><a class="nav-link" href="{{ site.baseurl }}/freebies">Freebies</a></li>
      </ul>
    </nav>
  </div>
</nav>

<script>
  (function () {

    var navButton = document.getElementById("nav-menu-button"),
        navUl = document.getElementsByClassName("nav-ul");

    function toggleMobileMenu() {
      navUl[0].style.transition = "max-height 0.5s";
      navUl[0].classList.toggle("hide-ul");
    }

    navButton.onclick = toggleMobileMenu;
  }());
</script>
