/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Color palette */
h1 {
  color: #5b5b5b;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
  padding: 25px 0 0;
  text-decoration: none; }

h2 {
  color: #5b5b5b;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none; }

h3 {
  color: #5b5b5b;
  font-size: 1.667em;
  font-weight: 700;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 0 10px;
  text-decoration: none;
  text-transform: none; }

a,
p {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none; }

a {
  color: #d4a26a; }

a:hover {
  color: #13778A; }

ul, li {
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

li {
  float: left; }

html,
body {
  background: white;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh; }

body {
  color: #5b5b5b;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  min-width: 100vw;
  text-decoration: none;
  width: 100%; }

.light-display-accent2 {
  color: #13778A;
  font-weight: 300;
  text-align: center; }
  @media only screen and (min-width: 320px) {
    .light-display-accent2 {
      font-size: 1em; } }
  @media only screen and (min-width: 768px) {
    .light-display-accent2 {
      font-size: 2em; } }
  @media only screen and (min-width: 2304px) {
    .light-display-accent2 {
      font-size: 2.222em; } }

.dark-headline2 {
  color: #fff; }
  @media only screen and (min-width: 320px) {
    .dark-headline2 {
      font-size: 1em;
      padding: 8px 0 0; } }
  @media only screen and (min-width: 768px) {
    .dark-headline2 {
      font-size: 1.333em;
      padding: 15px 0 0; } }
  @media only screen and (min-width: 2304px) {
    .dark-headline2 {
      font-size: 2.222em;
      padding: 15px 0 0; } }

.gradient-aqua {
  background: #4CA1AF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4CA1AF, #C4E0E5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4CA1AF, #C4E0E5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.btn {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  text-transform: uppercase;
  transition: all .3s; }

.btn:after {
  content: '';
  position: absolute;
  transition: all .3s;
  z-index: -1; }

#nav-container > nav > ul {
  list-style-type: none; }

/* NAVIGATION */
#nav-background {
  display: flex;
  top: 0;
  z-index: 9000;
  width: 100%;
  background-color: white; }

#nav-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto; }

#nav-header {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 320px) {
    #nav-header {
      margin: 1% 5%;
      justify-content: space-between; } }
  @media only screen and (min-width: 768px) {
    #nav-header {
      justify-content: center;
      margin: 5%; } }

.nav-ul {
  display: flex;
  max-width: 700px; }

.nav-ul > li {
  display: flex; }

@media only screen and (min-width: 320px) {
  a.nav-link:hover {
    background-color: #C4E0E5; } }

@media only screen and (min-width: 768px) {
  a.nav-link:hover {
    background-color: transparent; } }

.nav-link {
  flex: 1;
  color: #d4a26a;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.722em;
  text-align: center;
  text-transform: uppercase;
  transition: 200ms; }

/* LOGO */
@media screen and (min-width: 320px) {
  #nav-logo {
    width: 60px;
    height: auto; } }

@media screen and (min-width: 320px) and (min-width: 768px) {
  #nav-logo {
    width: 100px;
    height: auto; } }

/* END NAVIGATION */
/* MOBILE MENU */
@media screen and (max-width: 767px) {
  #nav-container {
    flex-direction: column;
    text-align: center;
    width: 100%; }
  #nav-menu-button {
    padding: 1rem;
    cursor: pointer; }
  .nav-ul {
    flex-direction: column;
    overflow-y: scroll;
    direction: rtl;
    max-height: 80vh; }
  .hide-ul {
    max-height: 0vh; }
  .nav-link {
    padding: 1rem 0;
    font-size: 0.722em; } }

/* END MOBILE MENU */
/* DESKTOP MENU */
@media screen and (min-width: 768px) {
  #nav-menu-button {
    display: none; }
  .nav-link {
    padding: 1rem 1.5rem; } }

/* END DESKTOP MENU */
.main-description {
  width: 100%; }
  .main-description h1 {
    color: #fff; }
  @media only screen and (min-width: 320px) {
    .main-description {
      padding: 0 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 0.5em; } }
  @media only screen and (min-width: 768px) {
    .main-description {
      padding: 2% 13% 0;
      font-size: 0.8em; } }
  @media only screen and (min-width: 1024px) {
    .main-description {
      padding: 2% 12% 0; } }
  @media only screen and (min-width: 1200px) {
    .main-description {
      padding: 2% 15% 1%;
      font-size: 1em; } }
  @media only screen and (min-width: 1600px) {
    .main-description {
      padding: 3% 20% 2%; } }
  @media only screen and (min-width: 2304px) {
    .main-description {
      padding: 1% 25% 2%; } }

.main-share a {
  color: #13778A; }

.main-share a:hover {
  color: #fff; }

@media only screen and (min-width: 320px) {
  .main-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0; } }

@media only screen and (min-width: 768px) {
  .main-share {
    padding: 60px 0; } }

.follow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media only screen and (min-width: 320px) {
    .follow {
      margin: 0 20px 0 0; } }
  @media only screen and (min-width: 768px) {
    .follow {
      margin: 0 40px 0 0; } }

.pray-emoji {
  width: 2em;
  height: auto;
  margin: 0 20px 0 0; }

@media only screen and (min-width: 320px) {
  .header-social {
    height: 46px;
    display: flex;
    align-items: center; } }

@media only screen and (min-width: 768px) {
  .header-social {
    padding-bottom: 8px; } }

@media only screen and (min-width: 1200px) {
  .header-social {
    padding-bottom: 15px; } }

.section-instagram {
  background-color: #f7f2ec;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  @media only screen and (min-width: 320px) {
    .section-instagram {
      margin: 0;
      width: auto; } }

.social-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 3em; }

.fb-like {
  transform: scale(1.2); }

* {
  box-sizing: border-box; }

@media only screen and (min-width: 768px) {
  .wrap {
    max-width: 1280px;
    margin: 0 auto 20px; } }

#instafeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  width: 100%; }

@media only screen and (min-width: 320px) {
  img {
    display: block;
    width: auto;
    height: 300px;
    margin: 10px; } }

@media only screen and (min-width: 768px) {
  img {
    display: block;
    width: 400px;
    height: 400px;
    margin: 10px; } }

.footer {
  display: flex;
  align-content: center;
  align-items: center; }
  @media only screen and (min-width: 320px) {
    .footer {
      align-items: center;
      height: 100px;
      margin: 1.875em auto;
      justify-content: center;
      flex-direction: column; } }
  @media only screen and (min-width: 768px) {
    .footer {
      height: 100px;
      margin: 0 100px;
      justify-content: space-between;
      flex-direction: row; } }
  @media only screen and (min-width: 1600px) {
    .footer {
      margin: 0 220px; } }
  @media only screen and (min-width: 2304px) {
    .footer {
      margin: 0 670px; } }

.copyright {
  align-items: center;
  color: #d3d3d3;
  display: flex;
  font-size: 0.722em;
  text-align: center; }
  @media only screen and (min-width: 320px) {
    .copyright {
      padding: 2em 0; } }
  @media only screen and (min-width: 768px) {
    .copyright {
      justify-content: flex-end;
      padding: 0; } }
  @media only screen and (min-width: 2304px) {
    .copyright {
      font-size: 1em; } }

.fa {
  color: #d4a26a; }
  @media only screen and (min-width: 320px) {
    .fa {
      padding: 0 0.750em; } }
  @media only screen and (min-width: 768px) {
    .fa {
      padding: 0 0.313em; } }

.fa-heart {
  padding: 0 5px; }

@media only screen and (min-width: 320px) {
  .social {
    padding-top: 0.556em; } }

@media only screen and (min-width: 768px) {
  .social {
    padding-top: 0; } }

/* Icon Up */
@-webkit-keyframes hvr-icon-up {
  0%,
  50%,
  100% {
    transform: translateY(0); }
  25%,
  75% {
    transform: translateY(-6px); } }

@keyframes hvr-icon-up {
  0%,
  50%,
  100% {
    transform: translateY(0); }
  25%,
  75% {
    transform: translateY(-6px); } }

/* Icon Up */
.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding: 0 1em; }

.hvr-icon-up:before {
  padding: 0 12px;
  position: absolute;
  top: -10px;
  left: 1px;
  transform: translateZ(0); }

.hvr-icon-up:hover:before, .hvr-icon-up:focus:before, .hvr-icon-up:active:before {
  animation-name: hvr-icon-up;
  animation-duration: 0.75s;
  animation-timing-function: ease-out; }

.contact-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto; }
  @media only screen and (min-width: 320px) {
    .contact-links {
      padding: 3% 0 7%; }
      .contact-links a {
        font-size: 0.5em; }
      .contact-links h1 {
        padding: 0; } }
  @media only screen and (min-width: 768px) {
    .contact-links {
      padding: 3% 0 7%; }
      .contact-links a {
        font-size: 1em; }
      .contact-links h1 {
        padding: 25px 0 0; } }
  .contact-links a {
    color: #13778A;
    font-weight: 700; }
  .contact-links a:hover {
    color: #fff; }
